make-scenarios/260323 Blueprint make - newsletters.json
{
    "name": "Integration Gmail, Anthropic Claude",
    "flow": [
        {
            "id": 1,
            "module": "google-email:triggerWatchNewEmails",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 13941093,
                "filterType": "simpleSearch",
                "format": "full",
                "folder": "INBOX",
                "criteria": "is:unread",
                "markSeen": false,
                "limit": 1,
                "from": "",
                "subject": "",
                "includeWords": "",
                "excludeWords": "",
                "size": {
                    "criteria": "larger",
                    "amount": null,
                    "unit": "M"
                },
                "hasAttachment": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Personal Gmail connection (kseniya.taran.m@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            }
                        },
                        "filterType": {
                            "label": "Simple filter"
                        },
                        "format": {
                            "label": "Full content"
                        },
                        "folder": {
                            "label": "Inbox"
                        },
                        "criteria": {
                            "label": "Only unread messages"
                        },
                        "size": {
                            "nested": {
                                "criteria": {
                                    "label": "Greater than"
                                },
                                "unit": {
                                    "label": "MB (megabytes)"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "filterType",
                        "type": "select",
                        "label": "Filter type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "simpleSearch",
                                "gmailSearch"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "select",
                        "label": "Content format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "full",
                                "raw",
                                "metadata",
                                "minimal"
                            ]
                        }
                    },
                    {
                        "name": "folder",
                        "type": "select",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "labelIds",
                        "type": "select",
                        "label": "Label"
                    },
                    {
                        "name": "criteria",
                        "type": "select",
                        "label": "Criteria",
                        "required": true,
                        "validate": {
                            "enum": [
                                "all",
                                "is:read",
                                "is:unread"
                            ]
                        }
                    },
                    {
                        "name": "markSeen",
                        "type": "boolean",
                        "label": "Mark email message(s) as read when fetched"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "validate": {
                            "max": 500
                        },
                        "required": true
                    },
                    {
                        "name": "from",
                        "type": "email",
                        "label": "Sender email address"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "includeWords",
                        "type": "text",
                        "label": "Has the words"
                    },
                    {
                        "name": "excludeWords",
                        "type": "text",
                        "label": "Doesn't have"
                    },
                    {
                        "name": "size",
                        "type": "collection",
                        "label": "Email size",
                        "spec": [
                            {
                                "name": "criteria",
                                "type": "select",
                                "label": "Criteria",
                                "validate": {
                                    "enum": [
                                        "larger",
                                        "smaller"
                                    ]
                                }
                            },
                            {
                                "name": "amount",
                                "type": "integer",
                                "label": "Size",
                                "validate": {
                                    "min": 0
                                }
                            },
                            {
                                "name": "unit",
                                "type": "select",
                                "label": "Size unit",
                                "validate": {
                                    "enum": [
                                        "M",
                                        "K",
                                        "bytes"
                                    ]
                                }
                            }
                        ]
                    },
                    {
                        "name": "hasAttachment",
                        "type": "boolean",
                        "label": "Only emails with attachments/media",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Message ID"
                    },
                    {
                        "name": "threadId",
                        "type": "text",
                        "label": "Thread ID"
                    },
                    {
                        "name": "internalDate",
                        "type": "date",
                        "label": "Date"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject",
                        "condition": true
                    },
                    {
                        "name": "fromName",
                        "type": "text",
                        "label": "From (name)",
                        "condition": true
                    },
                    {
                        "name": "fromEmail",
                        "type": "text",
                        "label": "From (email)",
                        "condition": true
                    },
                    {
                        "name": "to",
                        "spec": {
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "email",
                                    "type": "text",
                                    "label": "Email"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "To",
                        "condition": true
                    },
                    {
                        "name": "cc",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "CC",
                        "condition": true
                    },
                    {
                        "name": "bcc",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "BCC",
                        "condition": true
                    },
                    {
                        "name": "snippet",
                        "type": "text",
                        "label": "Snippet"
                    },
                    {
                        "name": "fullTextBody",
                        "type": "text",
                        "label": "Full text body",
                        "condition": true
                    },
                    {
                        "name": "htmlBody",
                        "type": "text",
                        "label": "HTML body",
                        "condition": true
                    },
                    {
                        "name": "hasAttachment",
                        "type": "boolean",
                        "label": "Has attachment",
                        "condition": true
                    },
                    {
                        "name": "hasMedia",
                        "type": "boolean",
                        "label": "Has media",
                        "condition": true
                    },
                    {
                        "name": "sysFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "System folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "System folder name"
                            }
                        ],
                        "type": "array",
                        "label": "System folders"
                    },
                    {
                        "name": "categoryFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Category folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Category folder name"
                            }
                        ],
                        "type": "array",
                        "label": "Category folders"
                    },
                    {
                        "name": "userLabelFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "User label folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "User label folder name"
                            }
                        ],
                        "type": "array",
                        "label": "User label folders"
                    },
                    {
                        "name": "labelIds",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Message folder IDs"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "Delivered-To",
                                "type": "text",
                                "label": "Delivered-To"
                            },
                            {
                                "name": "Received",
                                "type": "text",
                                "label": "Received"
                            },
                            {
                                "name": "Date",
                                "type": "text",
                                "label": "Date (header)"
                            },
                            {
                                "name": "X-Original-Sender",
                                "type": "text"
                            },
                            {
                                "name": "Reply-To",
                                "type": "text"
                            },
                            {
                                "name": "Subject",
                                "type": "text",
                                "label": "Subject"
                            },
                            {
                                "name": "From",
                                "type": "text",
                                "label": "From"
                            },
                            {
                                "name": "To",
                                "type": "text",
                                "label": "To"
                            },
                            {
                                "name": "Message-ID",
                                "type": "text",
                                "label": "Message-ID"
                            },
                            {
                                "name": "In-Reply-To",
                                "type": "text",
                                "label": "In-Reply-To"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers",
                        "condition": true
                    },
                    {
                        "name": "sizeEstimate",
                        "type": "number",
                        "label": "Size estimate"
                    },
                    {
                        "name": "historyId",
                        "type": "text",
                        "label": "History ID"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "anthropic-claude:createAMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 13941118
            },
            "mapper": {
                "model": "claude-sonnet-4-6",
                "max_tokens": "500",
                "messages": [
                    {
                        "role": "user",
                        "inputType": "single",
                        "content": "Analiza este email y responde ÚNICAMENTE con \"SI\" o \"NO\".\n¿Es este email una newsletter o contenido de suscripción?\n\nRemitente: {{1.fromEmail}}\nAsunto: {{1.subject}}\nContenido: {{1.snippet}}"
                    }
                ],
                "thinking": {
                    "type": "disabled"
                },
                "container": {},
                "metadata": {},
                "temperature": "1",
                "outputFormat": {
                    "type": "text"
                }
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Personal Claude connection",
                            "data": {
                                "scoped": "true",
                                "connection": "anthropic-claude"
                            }
                        }
                    },
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "nested": [
                                {
                                    "name": "effort",
                                    "label": "Effort Level",
                                    "type": "select",
                                    "help": "Controls how eager Claude is about spending tokens when responding to requests. By default, Claude uses maximum effort, which is equivalent to `High`. For details, see the [Anthropic Claude Effort guide](https://platform.claude.com/docs/en/build-with-claude/effort).",
                                    "options": [
                                        {
                                            "label": "Low",
                                            "value": "low"
                                        },
                                        {
                                            "label": "Medium",
                                            "value": "medium"
                                        },
                                        {
                                            "label": "High",
                                            "value": "high"
                                        }
                                    ]
                                }
                            ],
                            "label": "Claude Sonnet 4.6"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "inputType": {
                                        "mode": "chose",
                                        "label": "Single string"
                                    }
                                }
                            ]
                        },
                        "thinking": {
                            "nested": {
                                "type": {
                                    "mode": "chose",
                                    "label": "Disabled"
                                }
                            }
                        },
                        "container": {
                            "nested": {
                                "skills": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "stop_sequences": {
                            "mode": "chose"
                        },
                        "outputFormat": {
                            "nested": {
                                "type": {
                                    "mode": "chose",
                                    "label": "Text"
                                }
                            }
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        },
                        "effort": {
                            "mode": "chose",
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:anthropic-claude",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": {
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "User",
                                            "value": "user",
                                            "nested": [
                                                {
                                                    "name": "inputType",
                                                    "type": "select",
                                                    "label": "Input Type",
                                                    "default": "multiple",
                                                    "options": [
                                                        {
                                                            "label": "Single string",
                                                            "value": "single",
                                                            "nested": [
                                                                {
                                                                    "help": "If the request ends with an assistant turn, then the response content will continue directly from that last turn.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Content",
                                                                    "required": true
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Multiple content blocks",
                                                            "value": "multiple",
                                                            "nested": [
                                                                {
                                                                    "name": "content",
                                                                    "spec": {
                                                                        "spec": [
                                                                            {
                                                                                "help": "For models that support image content blocks (vision), see the [Anthropic model comparison table](https://docs.anthropic.com/en/docs/about-claude/models#model-comparison-table).",
                                                                                "name": "type",
                                                                                "type": "select",
                                                                                "label": "Type",
                                                                                "options": [
                                                                                    {
                                                                                        "label": "Text",
                                                                                        "value": "text",
                                                                                        "nested": [
                                                                                            {
                                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                                "name": "text",
                                                                                                "type": "text",
                                                                                                "label": "Text",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "Image",
                                                                                        "value": "image",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "source",
                                                                                                "spec": [
                                                                                                    {
                                                                                                        "help": "File name, including the extension, for example, `image.jpg`.",
                                                                                                        "name": "filename",
                                                                                                        "type": "filename",
                                                                                                        "label": "Filename",
                                                                                                        "required": true,
                                                                                                        "semantic": "file:name",
                                                                                                        "extension": [
                                                                                                            "jpeg",
                                                                                                            "jpg",
                                                                                                            "png",
                                                                                                            "gif",
                                                                                                            "webp"
                                                                                                        ]
                                                                                                    },
                                                                                                    {
                                                                                                        "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the **HTTP: Get a file** module.",
                                                                                                        "name": "data",
                                                                                                        "type": "buffer",
                                                                                                        "label": "Data",
                                                                                                        "required": true,
                                                                                                        "semantic": "file:data"
                                                                                                    }
                                                                                                ],
                                                                                                "type": "collection",
                                                                                                "label": "Source",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "PDF document",
                                                                                        "value": "document",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "pdfFileName",
                                                                                                "type": "filename",
                                                                                                "label": "Filename",
                                                                                                "required": true,
                                                                                                "semantic": "file:name",
                                                                                                "extension": [
                                                                                                    "pdf"
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "name": "pdfFileData",
                                                                                                "type": "buffer",
                                                                                                "label": "Data",
                                                                                                "required": true,
                                                                                                "semantic": "file:data"
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "Tool result",
                                                                                        "value": "tool_result",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "tool_use_id",
                                                                                                "type": "text",
                                                                                                "label": "Tool Use ID",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "name": "inputType",
                                                                                                "type": "select",
                                                                                                "label": "Input Type",
                                                                                                "default": "single",
                                                                                                "options": [
                                                                                                    {
                                                                                                        "label": "Single string",
                                                                                                        "value": "single",
                                                                                                        "nested": [
                                                                                                            {
                                                                                                                "help": "If the request ends with an assistant turn, then the response content will continue directly from that last turn.",
                                                                                                                "name": "content",
                                                                                                                "type": "text",
                                                                                                                "label": "Content",
                                                                                                                "required": true
                                                                                                            }
                                                                                                        ]
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "Multiple content blocks",
                                                                                                        "value": "multiple",
                                                                                                        "nested": [
                                                                                                            {
                                                                                                                "name": "content",
                                                                                                                "spec": {
                                                                                                                    "spec": [
                                                                                                                        {
                                                                                                                            "help": "For models that support image content blocks (vision), see the [Anthropic model comparison table](https://docs.anthropic.com/en/docs/about-claude/models#model-comparison-table).",
                                                                                                                            "name": "type",
                                                                                                                            "type": "select",
                                                                                                                            "label": "Type",
                                                                                                                            "options": [
                                                                                                                                {
                                                                                                                                    "label": "Text",
                                                                                                                                    "value": "text",
                                                                                                                                    "nested": [
                                                                                                                                        {
                                                                                                                                            "help": "Content of the message on behalf of the selected **Role** .",
                                                                                                                                            "name": "text",
                                                                                                                                            "type": "text",
                                                                                                                                            "label": "Text",
                                                                                                                                            "required": true
                                                                                                                                        }
                                                                                                                                    ]
                                                                                                                                },
                                                                                                                                {
                                                                                                                                    "label": "Image",
                                                                                                                                    "value": "image",
                                                                                                                                    "nested": [
                                                                                                                                        {
                                                                                                                                            "name": "source",
                                                                                                                                            "spec": [
                                                                                                                                                {
                                                                                                                                                    "help": "File name, including the extension, for example, `image.jpg`.",
                                                                                                                                                    "name": "filename",
                                                                                                                                                    "type": "filename",
                                                                                                                                                    "label": "Filename",
                                                                                                                                                    "required": true,
                                                                                                                                                    "semantic": "file:name",
                                                                                                                                                    "extension": [
                                                                                                                                                        "jpeg",
                                                                                                                                                        "jpg",
                                                                                                                                                        "png",
                                                                                                                                                        "gif",
                                                                                                                                                        "webp"
                                                                                                                                                    ]
                                                                                                                                                },
                                                                                                                                                {
                                                                                                                                                    "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the **HTTP: Get a file** module.",
                                                                                                                                                    "name": "data",
                                                                                                                                                    "type": "buffer",
                                                                                                                                                    "label": "Data",
                                                                                                                                                    "required": true,
                                                                                                                                                    "semantic": "file:data"
                                                                                                                                                }
                                                                                                                                            ],
                                                                                                                                            "type": "collection",
                                                                                                                                            "label": "Source",
                                                                                                                                            "required": true
                                                                                                                                        }
                                                                                                                                    ]
                                                                                                                                },
                                                                                                                                {
                                                                                                                                    "label": "PDF document",
                                                                                                                                    "value": "document",
                                                                                                                                    "nested": [
                                                                                                                                        {
                                                                                                                                            "name": "pdfFileName",
                                                                                                                                            "type": "filename",
                                                                                                                                            "label": "Filename",
                                                                                                                                            "required": true,
                                                                                                                                            "semantic": "file:name",
                                                                                                                                            "extension": [
                                                                                                                                                "pdf"
                                                                                                                                            ]
                                                                                                                                        },
                                                                                                                                        {
                                                                                                                                            "name": "pdfFileData",
                                                                                                                                            "type": "buffer",
                                                                                                                                            "label": "Data",
                                                                                                                                            "required": true,
                                                                                                                                            "semantic": "file:data"
                                                                                                                                        }
                                                                                                                                    ]
                                                                                                                                }
                                                                                                                            ],
                                                                                                                            "required": true
                                                                                                                        }
                                                                                                                    ],
                                                                                                                    "type": "collection",
                                                                                                                    "label": "Content"
                                                                                                                },
                                                                                                                "type": "array",
                                                                                                                "label": "Content",
                                                                                                                "labels": {
                                                                                                                    "add": "Add content"
                                                                                                                },
                                                                                                                "required": true
                                                                                                            }
                                                                                                        ]
                                                                                                    }
                                                                                                ],
                                                                                                "mappable": false,
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    }
                                                                                ],
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Content"
                                                                    },
                                                                    "type": "array",
                                                                    "label": "Content",
                                                                    "labels": {
                                                                        "add": "Add content"
                                                                    },
                                                                    "required": true
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "mappable": false,
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant",
                                            "nested": [
                                                {
                                                    "name": "inputType",
                                                    "type": "select",
                                                    "label": "Input Type",
                                                    "default": "single",
                                                    "options": [
                                                        {
                                                            "label": "Single string",
                                                            "value": "single",
                                                            "nested": [
                                                                {
                                                                    "help": "If the request ends with an assistant turn, then the response content will continue directly from that last turn.",
                                                                    "name": "content",
                                                                    "type": "text",
                                                                    "label": "Content",
                                                                    "required": true
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Multiple content blocks",
                                                            "value": "multiple",
                                                            "nested": [
                                                                {
                                                                    "name": "content",
                                                                    "spec": {
                                                                        "spec": [
                                                                            {
                                                                                "help": "For models that support image content blocks (vision), see the [Anthropic model comparison table](https://docs.anthropic.com/en/docs/about-claude/models#model-comparison-table).",
                                                                                "name": "type",
                                                                                "type": "select",
                                                                                "label": "Type",
                                                                                "options": [
                                                                                    {
                                                                                        "label": "Text",
                                                                                        "value": "text",
                                                                                        "nested": [
                                                                                            {
                                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                                "name": "text",
                                                                                                "type": "text",
                                                                                                "label": "Text",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "Tool use",
                                                                                        "value": "tool_use",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "id",
                                                                                                "type": "text",
                                                                                                "label": "Tool ID",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "name": "name",
                                                                                                "type": "text",
                                                                                                "label": "Name",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "help": "To map a value from a previous module, follow the syntax `{{1.id}}`.",
                                                                                                "name": "input",
                                                                                                "type": "editor",
                                                                                                "label": "Tool input",
                                                                                                "editor": "monaco",
                                                                                                "default": "{}",
                                                                                                "language": "json",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    }
                                                                                ],
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Content"
                                                                    },
                                                                    "type": "array",
                                                                    "label": "Content",
                                                                    "labels": {
                                                                        "add": "Add content"
                                                                    },
                                                                    "required": true
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "mappable": false,
                                                    "required": true
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message",
                            "name": "value"
                        }
                    },
                    {
                        "name": "thinking",
                        "type": "collection",
                        "label": "Extended Thinking",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "validate": {
                                    "enum": [
                                        "enabled",
                                        "disabled"
                                    ]
                                }
                            }
                        ]
                    },
                    {
                        "name": "container",
                        "type": "collection",
                        "label": "Container",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Container ID"
                            },
                            {
                                "name": "skills",
                                "type": "array",
                                "label": "Skills",
                                "validate": {
                                    "maxItems": 8
                                },
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "select",
                                            "label": "Type",
                                            "options": {
                                                "store": [
                                                    {
                                                        "label": "Custom",
                                                        "value": "custom"
                                                    },
                                                    {
                                                        "label": "Anthropic",
                                                        "value": "anthropic"
                                                    }
                                                ]
                                            },
                                            "required": true
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Skill",
                                    "name": "value"
                                }
                            }
                        ]
                    },
                    {
                        "name": "system",
                        "type": "text",
                        "label": "System Prompt"
                    },
                    {
                        "name": "metadata",
                        "type": "collection",
                        "label": "Metadata",
                        "spec": [
                            {
                                "name": "user_id",
                                "type": "text",
                                "label": "User ID"
                            }
                        ]
                    },
                    {
                        "name": "stop_sequences",
                        "type": "array",
                        "label": "Stop Sequences",
                        "spec": {
                            "type": "text",
                            "label": "Stop Sequence",
                            "name": "value"
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1
                        }
                    },
                    {
                        "name": "top_k",
                        "type": "uinteger",
                        "label": "Top K"
                    },
                    {
                        "name": "outputFormat",
                        "type": "collection",
                        "label": "Output Format",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "validate": {
                                    "enum": [
                                        "text",
                                        "json_schema"
                                    ]
                                }
                            }
                        ]
                    },
                    {
                        "name": "additionalParameters",
                        "type": "array",
                        "label": "Other Input Parameters",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Tools",
                                            "value": "tools",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "spec": {
                                                        "type": "text",
                                                        "label": "Parameter Value"
                                                    },
                                                    "type": "array",
                                                    "label": "Parameter Values",
                                                    "labels": {
                                                        "add": "Add parameter value"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter",
                            "name": "value"
                        }
                    },
                    {
                        "name": "effort",
                        "type": "select",
                        "label": "Effort Level",
                        "validate": {
                            "enum": [
                                "low",
                                "medium",
                                "high"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "files",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File Name",
                                "semantic": "file:name"
                            },
                            {
                                "name": "fileData",
                                "type": "buffer",
                                "label": "File Data",
                                "semantic": "file:data"
                            },
                            {
                                "name": "fileId",
                                "type": "text",
                                "label": "File ID"
                            }
                        ],
                        "type": "array",
                        "label": "Files"
                    },
                    {
                        "name": "textResponse",
                        "type": "text",
                        "label": "Text Response"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Unique ID"
                    },
                    {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                    },
                    {
                        "name": "role",
                        "type": "text",
                        "label": "Role"
                    },
                    {
                        "name": "content",
                        "spec": {
                            "spec": [
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "thinking",
                                    "type": "text",
                                    "label": "Thinking"
                                },
                                {
                                    "name": "signature",
                                    "type": "text",
                                    "label": "Signature"
                                },
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "input",
                                    "spec": [],
                                    "type": "collection",
                                    "label": "Input"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Content"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "container",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "expires_at",
                                "type": "date",
                                "label": "Expires at"
                            },
                            {
                                "name": "skills",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "skill_id",
                                            "type": "text",
                                            "label": "Skill ID"
                                        },
                                        {
                                            "name": "version",
                                            "type": "text",
                                            "label": "Version"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Skills"
                            }
                        ],
                        "type": "collection",
                        "label": "Container"
                    },
                    {
                        "name": "stop_reason",
                        "type": "text",
                        "label": "Stop Reason"
                    },
                    {
                        "name": "stop_sequence",
                        "type": "text",
                        "label": "Stop Sequence"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "input_tokens",
                                "type": "uinteger",
                                "label": "Input Tokens"
                            },
                            {
                                "name": "cache_creation_input_tokens",
                                "type": "number",
                                "label": "Cache Creation Input Tokens"
                            },
                            {
                                "name": "cache_read_input_tokens",
                                "type": "number",
                                "label": "Cache Read Input Tokens"
                            },
                            {
                                "name": "output_tokens",
                                "type": "uinteger",
                                "label": "Output Tokens"
                            },
                            {
                                "name": "cache_creation",
                                "spec": [
                                    {
                                        "name": "ephemeral_5m_input_tokens",
                                        "type": "number",
                                        "label": "Ephemeral 5m Input Tokens"
                                    },
                                    {
                                        "name": "ephemeral_1h_input_tokens",
                                        "type": "number",
                                        "label": "Ephemeral 1h Input Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Cache Creation"
                            },
                            {
                                "name": "service_tier",
                                "type": "text",
                                "label": "Service Tier"
                            },
                            {
                                "name": "server_tool_use",
                                "spec": [
                                    {
                                        "name": "web_search_requests",
                                        "type": "number",
                                        "label": "Web Search Requests"
                                    }
                                ],
                                "type": "collection",
                                "label": "Server Tool  Use"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "tools",
                        "spec": [],
                        "type": "collection",
                        "label": "Tools"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "google-email:updateEmailLabels",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 13941093
                            },
                            "filter": {
                                "name": "SI newsletter",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.textResponse}}",
                                            "o": "text:equal",
                                            "b": "SI"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "messageId": "{{1.id}}",
                                "addLabels": [
                                    "Label_1987914020948004403"
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": -150
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "Personal Gmail connection (kseniya.taran.m@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "messageId": {
                                            "nested": [
                                                {
                                                    "help": "To ensure you see the most up-to-date labels, refresh **↻** the Message ID above.",
                                                    "name": "addLabels",
                                                    "type": "select",
                                                    "label": "Labels to add",
                                                    "dynamic": true,
                                                    "options": [
                                                        {
                                                            "label": "A retomar",
                                                            "value": "Label_4049079242659547802"
                                                        },
                                                        {
                                                            "label": "Documentación",
                                                            "value": "Label_8076406316621847522"
                                                        },
                                                        {
                                                            "label": "Esperando respuesta",
                                                            "value": "Label_1692985729195070591"
                                                        },
                                                        {
                                                            "label": "Happets/Barkyn/Dogfy",
                                                            "value": "Label_1705915458791507762"
                                                        },
                                                        {
                                                            "label": "Newsletters",
                                                            "value": "Label_1987914020948004403"
                                                        },
                                                        {
                                                            "label": "Ok",
                                                            "value": "Label_4365397279135347024"
                                                        },
                                                        {
                                                            "label": "Pedidos",
                                                            "value": "Label_452961565943713250"
                                                        },
                                                        {
                                                            "label": "Tutorial",
                                                            "value": "Label_1982479590812279854"
                                                        }
                                                    ],
                                                    "mappable": {
                                                        "help": "Enter label IDs by comma (,)."
                                                    },
                                                    "multiple": true
                                                },
                                                {
                                                    "help": "To ensure you see the most up-to-date labels, refresh **↻** the Message ID above.",
                                                    "name": "removeLabels",
                                                    "type": "select",
                                                    "label": "Labels to remove",
                                                    "dynamic": true,
                                                    "options": [
                                                        {
                                                            "label": "A retomar",
                                                            "value": "Label_4049079242659547802"
                                                        },
                                                        {
                                                            "label": "Documentación",
                                                            "value": "Label_8076406316621847522"
                                                        },
                                                        {
                                                            "label": "Esperando respuesta",
                                                            "value": "Label_1692985729195070591"
                                                        },
                                                        {
                                                            "label": "Happets/Barkyn/Dogfy",
                                                            "value": "Label_1705915458791507762"
                                                        },
                                                        {
                                                            "label": "Newsletters",
                                                            "value": "Label_1987914020948004403"
                                                        },
                                                        {
                                                            "label": "Ok",
                                                            "value": "Label_4365397279135347024"
                                                        },
                                                        {
                                                            "label": "Pedidos",
                                                            "value": "Label_452961565943713250"
                                                        },
                                                        {
                                                            "label": "Tutorial",
                                                            "value": "Label_1982479590812279854"
                                                        }
                                                    ],
                                                    "mappable": {
                                                        "help": "Enter label IDs by comma (,)."
                                                    },
                                                    "multiple": true
                                                }
                                            ]
                                        },
                                        "addLabels": {
                                            "mode": "chose"
                                        },
                                        "removeLabels": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "messageId",
                                        "type": "text",
                                        "label": "Message ID",
                                        "required": true
                                    },
                                    {
                                        "name": "addLabels",
                                        "type": "select",
                                        "label": "Labels to add",
                                        "multiple": true
                                    },
                                    {
                                        "name": "removeLabels",
                                        "type": "select",
                                        "label": "Labels to remove",
                                        "multiple": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "google-email:markAnEmailAsRead",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 13941093
                            },
                            "mapper": {
                                "messageId": "{{4.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": -150
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "Personal Gmail connection (kseniya.taran.m@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            }
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "messageId",
                                        "type": "text",
                                        "label": "Message ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "anthropic-claude:createAMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 13941118
                            },
                            "mapper": {
                                "model": "claude-sonnet-4-6",
                                "max_tokens": "1000",
                                "messages": [
                                    {
                                        "role": "user",
                                        "inputType": "single",
                                        "content": "Eres un asistente que ayuda a una directiva de una empresa D2C de pet food. \nTrabaja en gestión con interés en IA aplicada, automatización, marketing digital \ny estrategia de negocio.\n\nAnaliza esta newsletter y extrae los puntos MÁS relevantes para ella. \nPueden ser 1, 2 o 5 — los que realmente aporten valor. \nSi no hay nada relevante, responde únicamente: \"Sin insights relevantes esta semana.\"\n\nResponde en HTML simple.\n\nPara cada punto relevante:\n- Qué es (1 línea)\n- Por qué me importa (1 línea)\n- Qué podría yo hacer con esto (1 línea)\n\nAsunto: {{1.subject}}\nContenido: {{1.fullTextBody}}"
                                    }
                                ],
                                "thinking": {
                                    "type": "disabled"
                                },
                                "container": {},
                                "metadata": {},
                                "temperature": "1",
                                "outputFormat": {
                                    "type": "text"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": -150
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "Personal Claude connection",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "anthropic-claude"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "nested": [
                                                {
                                                    "name": "effort",
                                                    "label": "Effort Level",
                                                    "type": "select",
                                                    "help": "Controls how eager Claude is about spending tokens when responding to requests. By default, Claude uses maximum effort, which is equivalent to `High`. For details, see the [Anthropic Claude Effort guide](https://platform.claude.com/docs/en/build-with-claude/effort).",
                                                    "options": [
                                                        {
                                                            "label": "Low",
                                                            "value": "low"
                                                        },
                                                        {
                                                            "label": "Medium",
                                                            "value": "medium"
                                                        },
                                                        {
                                                            "label": "High",
                                                            "value": "high"
                                                        }
                                                    ]
                                                }
                                            ],
                                            "label": "Claude Sonnet 4.6"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    },
                                                    "inputType": {
                                                        "mode": "chose",
                                                        "label": "Single string"
                                                    }
                                                }
                                            ]
                                        },
                                        "thinking": {
                                            "nested": {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Disabled"
                                                }
                                            }
                                        },
                                        "container": {
                                            "nested": {
                                                "skills": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "stop_sequences": {
                                            "mode": "chose"
                                        },
                                        "outputFormat": {
                                            "nested": {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        },
                                        "additionalParameters": {
                                            "mode": "chose"
                                        },
                                        "effort": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:anthropic-claude",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "uinteger",
                                        "label": "Max Tokens",
                                        "required": true
                                    },
                                    {
                                        "name": "messages",
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true,
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "role",
                                                    "type": "select",
                                                    "label": "Role",
                                                    "options": [
                                                        {
                                                            "label": "User",
                                                            "value": "user",
                                                            "nested": [
                                                                {
                                                                    "name": "inputType",
                                                                    "type": "select",
                                                                    "label": "Input Type",
                                                                    "default": "multiple",
                                                                    "options": [
                                                                        {
                                                                            "label": "Single string",
                                                                            "value": "single",
                                                                            "nested": [
                                                                                {
                                                                                    "help": "If the request ends with an assistant turn, then the response content will continue directly from that last turn.",
                                                                                    "name": "content",
                                                                                    "type": "text",
                                                                                    "label": "Content",
                                                                                    "required": true
                                                                                }
                                                                            ]
                                                                        },
                                                                        {
                                                                            "label": "Multiple content blocks",
                                                                            "value": "multiple",
                                                                            "nested": [
                                                                                {
                                                                                    "name": "content",
                                                                                    "spec": {
                                                                                        "spec": [
                                                                                            {
                                                                                                "help": "For models that support image content blocks (vision), see the [Anthropic model comparison table](https://docs.anthropic.com/en/docs/about-claude/models#model-comparison-table).",
                                                                                                "name": "type",
                                                                                                "type": "select",
                                                                                                "label": "Type",
                                                                                                "options": [
                                                                                                    {
                                                                                                        "label": "Text",
                                                                                                        "value": "text",
                                                                                                        "nested": [
                                                                                                            {
                                                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                                                "name": "text",
                                                                                                                "type": "text",
                                                                                                                "label": "Text",
                                                                                                                "required": true
                                                                                                            }
                                                                                                        ]
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "Image",
                                                                                                        "value": "image",
                                                                                                        "nested": [
                                                                                                            {
                                                                                                                "name": "source",
                                                                                                                "spec": [
                                                                                                                    {
                                                                                                                        "help": "File name, including the extension, for example, `image.jpg`.",
                                                                                                                        "name": "filename",
                                                                                                                        "type": "filename",
                                                                                                                        "label": "Filename",
                                                                                                                        "required": true,
                                                                                                                        "semantic": "file:name",
                                                                                                                        "extension": [
                                                                                                                            "jpeg",
                                                                                                                            "jpg",
                                                                                                                            "png",
                                                                                                                            "gif",
                                                                                                                            "webp"
                                                                                                                        ]
                                                                                                                    },
                                                                                                                    {
                                                                                                                        "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the **HTTP: Get a file** module.",
                                                                                                                        "name": "data",
                                                                                                                        "type": "buffer",
                                                                                                                        "label": "Data",
                                                                                                                        "required": true,
                                                                                                                        "semantic": "file:data"
                                                                                                                    }
                                                                                                                ],
                                                                                                                "type": "collection",
                                                                                                                "label": "Source",
                                                                                                                "required": true
                                                                                                            }
                                                                                                        ]
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "PDF document",
                                                                                                        "value": "document",
                                                                                                        "nested": [
                                                                                                            {
                                                                                                                "name": "pdfFileName",
                                                                                                                "type": "filename",
                                                                                                                "label": "Filename",
                                                                                                                "required": true,
                                                                                                                "semantic": "file:name",
                                                                                                                "extension": [
                                                                                                                    "pdf"
                                                                                                                ]
                                                                                                            },
                                                                                                            {
                                                                                                                "name": "pdfFileData",
                                                                                                                "type": "buffer",
                                                                                                                "label": "Data",
                                                                                                                "required": true,
                                                                                                                "semantic": "file:data"
                                                                                                            }
                                                                                                        ]
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "Tool result",
                                                                                                        "value": "tool_result",
                                                                                                        "nested": [
                                                                                                            {
                                                                                                                "name": "tool_use_id",
                                                                                                                "type": "text",
                                                                                                                "label": "Tool Use ID",
                                                                                                                "required": true
                                                                                                            },
                                                                                                            {
                                                                                                                "name": "inputType",
                                                                                                                "type": "select",
                                                                                                                "label": "Input Type",
                                                                                                                "default": "single",
                                                                                                                "options": [
                                                                                                                    {
                                                                                                                        "label": "Single string",
                                                                                                                        "value": "single",
                                                                                                                        "nested": [
                                                                                                                            {
                                                                                                                                "help": "If the request ends with an assistant turn, then the response content will continue directly from that last turn.",
                                                                                                                                "name": "content",
                                                                                                                                "type": "text",
                                                                                                                                "label": "Content",
                                                                                                                                "required": true
                                                                                                                            }
                                                                                                                        ]
                                                                                                                    },
                                                                                                                    {
                                                                                                                        "label": "Multiple content blocks",
                                                                                                                        "value": "multiple",
                                                                                                                        "nested": [
                                                                                                                            {
                                                                                                                                "name": "content",
                                                                                                                                "spec": {
                                                                                                                                    "spec": [
                                                                                                                                        {
                                                                                                                                            "help": "For models that support image content blocks (vision), see the [Anthropic model comparison table](https://docs.anthropic.com/en/docs/about-claude/models#model-comparison-table).",
                                                                                                                                            "name": "type",
                                                                                                                                            "type": "select",
                                                                                                                                            "label": "Type",
                                                                                                                                            "options": [
                                                                                                                                                {
                                                                                                                                                    "label": "Text",
                                                                                                                                                    "value": "text",
                                                                                                                                                    "nested": [
                                                                                                                                                        {
                                                                                                                                                            "help": "Content of the message on behalf of the selected **Role** .",
                                                                                                                                                            "name": "text",
                                                                                                                                                            "type": "text",
                                                                                                                                                            "label": "Text",
                                                                                                                                                            "required": true
                                                                                                                                                        }
                                                                                                                                                    ]
                                                                                                                                                },
                                                                                                                                                {
                                                                                                                                                    "label": "Image",
                                                                                                                                                    "value": "image",
                                                                                                                                                    "nested": [
                                                                                                                                                        {
                                                                                                                                                            "name": "source",
                                                                                                                                                            "spec": [
                                                                                                                                                                {
                                                                                                                                                                    "help": "File name, including the extension, for example, `image.jpg`.",
                                                                                                                                                                    "name": "filename",
                                                                                                                                                                    "type": "filename",
                                                                                                                                                                    "label": "Filename",
                                                                                                                                                                    "required": true,
                                                                                                                                                                    "semantic": "file:name",
                                                                                                                                                                    "extension": [
                                                                                                                                                                        "jpeg",
                                                                                                                                                                        "jpg",
                                                                                                                                                                        "png",
                                                                                                                                                                        "gif",
                                                                                                                                                                        "webp"
                                                                                                                                                                    ]
                                                                                                                                                                },
                                                                                                                                                                {
                                                                                                                                                                    "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the **HTTP: Get a file** module.",
                                                                                                                                                                    "name": "data",
                                                                                                                                                                    "type": "buffer",
                                                                                                                                                                    "label": "Data",
                                                                                                                                                                    "required": true,
                                                                                                                                                                    "semantic": "file:data"
                                                                                                                                                                }
                                                                                                                                                            ],
                                                                                                                                                            "type": "collection",
                                                                                                                                                            "label": "Source",
                                                                                                                                                            "required": true
                                                                                                                                                        }
                                                                                                                                                    ]
                                                                                                                                                },
                                                                                                                                                {
                                                                                                                                                    "label": "PDF document",
                                                                                                                                                    "value": "document",
                                                                                                                                                    "nested": [
                                                                                                                                                        {
                                                                                                                                                            "name": "pdfFileName",
                                                                                                                                                            "type": "filename",
                                                                                                                                                            "label": "Filename",
                                                                                                                                                            "required": true,
                                                                                                                                                            "semantic": "file:name",
                                                                                                                                                            "extension": [
                                                                                                                                                                "pdf"
                                                                                                                                                            ]
                                                                                                                                                        },
                                                                                                                                                        {
                                                                                                                                                            "name": "pdfFileData",
                                                                                                                                                            "type": "buffer",
                                                                                                                                                            "label": "Data",
                                                                                                                                                            "required": true,
                                                                                                                                                            "semantic": "file:data"
                                                                                                                                                        }
                                                                                                                                                    ]
                                                                                                                                                }
                                                                                                                                            ],
                                                                                                                                            "required": true
                                                                                                                                        }
                                                                                                                                    ],
                                                                                                                                    "type": "collection",
                                                                                                                                    "label": "Content"
                                                                                                                                },
                                                                                                                                "type": "array",
                                                                                                                                "label": "Content",
                                                                                                                                "labels": {
                                                                                                                                    "add": "Add content"
                                                                                                                                },
                                                                                                                                "required": true
                                                                                                                            }
                                                                                                                        ]
                                                                                                                    }
                                                                                                                ],
                                                                                                                "mappable": false,
                                                                                                                "required": true
                                                                                                            }
                                                                                                        ]
                                                                                                    }
                                                                                                ],
                                                                                                "required": true
                                                                                            }
                                                                                        ],
                                                                                        "type": "collection",
                                                                                        "label": "Content"
                                                                                    },
                                                                                    "type": "array",
                                                                                    "label": "Content",
                                                                                    "labels": {
                                                                                        "add": "Add content"
                                                                                    },
                                                                                    "required": true
                                                                                }
                                                                            ]
                                                                        }
                                                                    ],
                                                                    "mappable": false,
                                                                    "required": true
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Assistant",
                                                            "value": "assistant",
                                                            "nested": [
                                                                {
                                                                    "name": "inputType",
                                                                    "type": "select",
                                                                    "label": "Input Type",
                                                                    "default": "single",
                                                                    "options": [
                                                                        {
                                                                            "label": "Single string",
                                                                            "value": "single",
                                                                            "nested": [
                                                                                {
                                                                                    "help": "If the request ends with an assistant turn, then the response content will continue directly from that last turn.",
                                                                                    "name": "content",
                                                                                    "type": "text",
                                                                                    "label": "Content",
                                                                                    "required": true
                                                                                }
                                                                            ]
                                                                        },
                                                                        {
                                                                            "label": "Multiple content blocks",
                                                                            "value": "multiple",
                                                                            "nested": [
                                                                                {
                                                                                    "name": "content",
                                                                                    "spec": {
                                                                                        "spec": [
                                                                                            {
                                                                                                "help": "For models that support image content blocks (vision), see the [Anthropic model comparison table](https://docs.anthropic.com/en/docs/about-claude/models#model-comparison-table).",
                                                                                                "name": "type",
                                                                                                "type": "select",
                                                                                                "label": "Type",
                                                                                                "options": [
                                                                                                    {
                                                                                                        "label": "Text",
                                                                                                        "value": "text",
                                                                                                        "nested": [
                                                                                                            {
                                                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                                                "name": "text",
                                                                                                                "type": "text",
                                                                                                                "label": "Text",
                                                                                                                "required": true
                                                                                                            }
                                                                                                        ]
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "Tool use",
                                                                                                        "value": "tool_use",
                                                                                                        "nested": [
                                                                                                            {
                                                                                                                "name": "id",
                                                                                                                "type": "text",
                                                                                                                "label": "Tool ID",
                                                                                                                "required": true
                                                                                                            },
                                                                                                            {
                                                                                                                "name": "name",
                                                                                                                "type": "text",
                                                                                                                "label": "Name",
                                                                                                                "required": true
                                                                                                            },
                                                                                                            {
                                                                                                                "help": "To map a value from a previous module, follow the syntax `{{1.id}}`.",
                                                                                                                "name": "input",
                                                                                                                "type": "editor",
                                                                                                                "label": "Tool input",
                                                                                                                "editor": "monaco",
                                                                                                                "default": "{}",
                                                                                                                "language": "json",
                                                                                                                "required": true
                                                                                                            }
                                                                                                        ]
                                                                                                    }
                                                                                                ],
                                                                                                "required": true
                                                                                            }
                                                                                        ],
                                                                                        "type": "collection",
                                                                                        "label": "Content"
                                                                                    },
                                                                                    "type": "array",
                                                                                    "label": "Content",
                                                                                    "labels": {
                                                                                        "add": "Add content"
                                                                                    },
                                                                                    "required": true
                                                                                }
                                                                            ]
                                                                        }
                                                                    ],
                                                                    "mappable": false,
                                                                    "required": true
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "required": true
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Message",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "thinking",
                                        "type": "collection",
                                        "label": "Extended Thinking",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Type",
                                                "validate": {
                                                    "enum": [
                                                        "enabled",
                                                        "disabled"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "name": "container",
                                        "type": "collection",
                                        "label": "Container",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "Container ID"
                                            },
                                            {
                                                "name": "skills",
                                                "type": "array",
                                                "label": "Skills",
                                                "validate": {
                                                    "maxItems": 8
                                                },
                                                "spec": {
                                                    "spec": [
                                                        {
                                                            "name": "type",
                                                            "type": "select",
                                                            "label": "Type",
                                                            "options": {
                                                                "store": [
                                                                    {
                                                                        "label": "Custom",
                                                                        "value": "custom"
                                                                    },
                                                                    {
                                                                        "label": "Anthropic",
                                                                        "value": "anthropic"
                                                                    }
                                                                ]
                                                            },
                                                            "required": true
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Skill",
                                                    "name": "value"
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "name": "system",
                                        "type": "text",
                                        "label": "System Prompt"
                                    },
                                    {
                                        "name": "metadata",
                                        "type": "collection",
                                        "label": "Metadata",
                                        "spec": [
                                            {
                                                "name": "user_id",
                                                "type": "text",
                                                "label": "User ID"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "stop_sequences",
                                        "type": "array",
                                        "label": "Stop Sequences",
                                        "spec": {
                                            "type": "text",
                                            "label": "Stop Sequence",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1
                                        }
                                    },
                                    {
                                        "name": "top_k",
                                        "type": "uinteger",
                                        "label": "Top K"
                                    },
                                    {
                                        "name": "outputFormat",
                                        "type": "collection",
                                        "label": "Output Format",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Type",
                                                "validate": {
                                                    "enum": [
                                                        "text",
                                                        "json_schema"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "name": "additionalParameters",
                                        "type": "array",
                                        "label": "Other Input Parameters",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Parameter Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "select",
                                                    "label": "Input Type",
                                                    "options": [
                                                        {
                                                            "label": "Text",
                                                            "value": "text",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ],
                                                            "default": true
                                                        },
                                                        {
                                                            "label": "Number",
                                                            "value": "number",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "number",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Boolean",
                                                            "value": "boolean",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "boolean",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Date",
                                                            "value": "date",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "date",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Tools",
                                                            "value": "tools",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "spec": {
                                                                        "type": "text",
                                                                        "label": "Parameter Value"
                                                                    },
                                                                    "type": "array",
                                                                    "label": "Parameter Values",
                                                                    "labels": {
                                                                        "add": "Add parameter value"
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Any",
                                                            "value": "any",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "any",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Input Parameter",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "effort",
                                        "type": "select",
                                        "label": "Effort Level",
                                        "validate": {
                                            "enum": [
                                                "low",
                                                "medium",
                                                "high"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "files",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File Name",
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "fileData",
                                                "type": "buffer",
                                                "label": "File Data",
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "fileId",
                                                "type": "text",
                                                "label": "File ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Files"
                                    },
                                    {
                                        "name": "textResponse",
                                        "type": "text",
                                        "label": "Text Response"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Unique ID"
                                    },
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "type",
                                                    "type": "text",
                                                    "label": "Type"
                                                },
                                                {
                                                    "name": "thinking",
                                                    "type": "text",
                                                    "label": "Thinking"
                                                },
                                                {
                                                    "name": "signature",
                                                    "type": "text",
                                                    "label": "Signature"
                                                },
                                                {
                                                    "name": "text",
                                                    "type": "text",
                                                    "label": "Text"
                                                },
                                                {
                                                    "name": "id",
                                                    "type": "text",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name"
                                                },
                                                {
                                                    "name": "input",
                                                    "spec": [],
                                                    "type": "collection",
                                                    "label": "Input"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "model",
                                        "type": "text",
                                        "label": "Model"
                                    },
                                    {
                                        "name": "container",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "expires_at",
                                                "type": "date",
                                                "label": "Expires at"
                                            },
                                            {
                                                "name": "skills",
                                                "spec": {
                                                    "spec": [
                                                        {
                                                            "name": "type",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "skill_id",
                                                            "type": "text",
                                                            "label": "Skill ID"
                                                        },
                                                        {
                                                            "name": "version",
                                                            "type": "text",
                                                            "label": "Version"
                                                        }
                                                    ],
                                                    "type": "collection"
                                                },
                                                "type": "array",
                                                "label": "Skills"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Container"
                                    },
                                    {
                                        "name": "stop_reason",
                                        "type": "text",
                                        "label": "Stop Reason"
                                    },
                                    {
                                        "name": "stop_sequence",
                                        "type": "text",
                                        "label": "Stop Sequence"
                                    },
                                    {
                                        "name": "usage",
                                        "spec": [
                                            {
                                                "name": "input_tokens",
                                                "type": "uinteger",
                                                "label": "Input Tokens"
                                            },
                                            {
                                                "name": "cache_creation_input_tokens",
                                                "type": "number",
                                                "label": "Cache Creation Input Tokens"
                                            },
                                            {
                                                "name": "cache_read_input_tokens",
                                                "type": "number",
                                                "label": "Cache Read Input Tokens"
                                            },
                                            {
                                                "name": "output_tokens",
                                                "type": "uinteger",
                                                "label": "Output Tokens"
                                            },
                                            {
                                                "name": "cache_creation",
                                                "spec": [
                                                    {
                                                        "name": "ephemeral_5m_input_tokens",
                                                        "type": "number",
                                                        "label": "Ephemeral 5m Input Tokens"
                                                    },
                                                    {
                                                        "name": "ephemeral_1h_input_tokens",
                                                        "type": "number",
                                                        "label": "Ephemeral 1h Input Tokens"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Cache Creation"
                                            },
                                            {
                                                "name": "service_tier",
                                                "type": "text",
                                                "label": "Service Tier"
                                            },
                                            {
                                                "name": "server_tool_use",
                                                "spec": [
                                                    {
                                                        "name": "web_search_requests",
                                                        "type": "number",
                                                        "label": "Web Search Requests"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Server Tool  Use"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Usage"
                                    },
                                    {
                                        "name": "tools",
                                        "spec": [],
                                        "type": "collection",
                                        "label": "Tools"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "google-email:sendAnEmail",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 13941093
                            },
                            "mapper": {
                                "to": [
                                    "kseniya.taran.m@gmail.com"
                                ],
                                "subject": "Resumen newsletter: {{1.fromName}}",
                                "bodyType": "collection",
                                "contents": [
                                    {
                                        "text": "{{7.textResponse}}",
                                        "image": {}
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": -150
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "Personal Gmail connection (kseniya.taran.m@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bodyType": {
                                            "label": "Collection of contents (text, images, etc.)"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "from": {
                                            "mode": "chose"
                                        },
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        },
                                        "contents": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "signature": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "type": "array",
                                        "label": "To",
                                        "required": true,
                                        "spec": {
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "validate": true,
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "type": "array",
                                        "label": "Attachments",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "cc",
                                        "type": "array",
                                        "label": "CC recipients",
                                        "spec": {
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "type": "array",
                                        "label": "BCC recipients",
                                        "spec": {
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "type": "array",
                                        "label": "Additional email headers",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "contents",
                                        "type": "array",
                                        "label": "Body contents",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "text",
                                                    "type": "text",
                                                    "label": "Text"
                                                },
                                                {
                                                    "name": "image",
                                                    "spec": [
                                                        {
                                                            "name": "filename",
                                                            "type": "filename",
                                                            "label": "File name",
                                                            "semantic": "file:name"
                                                        },
                                                        {
                                                            "name": "data",
                                                            "type": "buffer",
                                                            "label": "Data",
                                                            "semantic": "file:data"
                                                        },
                                                        {
                                                            "name": "width",
                                                            "type": "uinteger",
                                                            "label": "Width"
                                                        },
                                                        {
                                                            "name": "height",
                                                            "type": "uinteger",
                                                            "label": "Height"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Image"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Content",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "signature",
                                        "type": "select",
                                        "label": "Signature content"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "placeholder:Placeholder",
                            "filter": {
                                "name": "NO newsletter",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.textResponse}}",
                                            "o": "text:equal",
                                            "b": "NO"
                                        }
                                    ]
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 150
                                }
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}